<!-- login.ejs -->
<html lang="jp">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" 
      content="width=device-width, initial-scale=1.0">
      <title>ログイン</title>
      <link rel="stylesheet" href="/style.css">
    </head>
<body>
<h2>ログイン</h2>
<form method="POST" action="/login">
  <input name="username" placeholder="ユーザー名" required />
  <input type="password" name="password" placeholder="パスワード" required />
  <button type="submit">ログイン</button>
</form>
</body>
</html>
